/* From http://getbootstrap.com/examples/sticky-footer-navbar/ */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}


/* Other styles */
body > .container {
  padding: 60px 15px 0;
}
.footer > .container > p {
  margin: 10px 0;
}
.text-muted {
  font-size: smaller;
}

ul.bookmarks {
  display: block;
  padding: 0;
}
li.bookmark {
  display: inline-block;
  padding: 10px;
}
li.bookmark > a {
  display: block;
  padding: 15px;
  border-radius: 5px;
}
li.bookmark > a > img {
  width: 75px;
  height: 75px;
}
li#bookmark-yahoomail > a {
  background-color: rgb(64,0,162);
}
li#bookmark-cc-search > a {
  background-color: #5AA322;
}
li#bookmark-cc-search > a > img {
  width: 222px;
}
