<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}} - {{site.title}}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" type="text/css">
  </head>
  <body>
    <h1>{{ site.title }}</h1>
    <h2>{{ page.title }}</h2>
    {{ content }}
    <div class="footer"><a href="{{site.github.repository_url}}/edit/gh-pages/{{page.path}}">edit this page</a></div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
